@model TodoApp.ViewModels.FinishedTodoViewModel
@{
    ViewData["Title"] = "Todo Page";
}

<style>
    .list-group-item {
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }

        .list-group-item:hover {
            border-color: #6c757d;
        }
</style>

<div class="list-group">
    @if (Model != null)
    {
        @foreach (var group in Model.FinishedTodoList.OrderBy(t => t.CreatedDate).GroupBy(t => t.CreatedDate.Date))
        {
            <h4 class="mb-3 mt-0">@group.Key.ToString("yyyy-MM-dd")</h4>
            @foreach (var item in group)
            {
                <div class="list-group-item d-flex justify-content-between align-items-center mb-1">
                    <div class="form-check">
                        <label class="form-check-label">
                            @item.Title
                            <small class="text-muted">@item.Description</small>
                        </label>
                    </div>
                    <div>
                        <small class="text-muted">@item.CreatedDate.ToString("yyyy-MM-dd")</small>
                        <a asp-controller="FinishedTodo" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary mx-1">View</a>
                        <a asp-controller="FinishedTodo" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary mx-1">Edit</a>
                        <a asp-controller="FinishedTodo" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary mx-1 alert-danger">Delete</a>
                    </div>
                </div>
            }
        }
    }
    else
    {
        <p>No todos found.</p>
    }
    <div class="p-3">
        <a asp-controller="Todo" asp-action="Create" class="btn btn-sm btn-primary">Create</a>
    </div>
</div>
